@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Roboto');

.profile {
    background: #F2BCFF;
    height: 100%;
    width: 68vw;
    margin: auto;
    box-sizing: border-box;
}

.profile .body {
    background-color: white;
    height: 100%;
    width: 70vw;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    /* box-shadow: 2px 2px 5px gray; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}
img {
    /* box-shadow: 2px 2px 5px gray; */
    border-radius: 3px;
}
.body button {
    height: 40px;
    width: 100px;
    margin: auto;
}
#myModal {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}
.modal-content {
    background: rgba(255, 255, 255, 1);
    height: 70%;
    width: 50%;
    top: 15%;
    left: 25%;
    position: absolute;
    z-index: 11px;
    border-radius: 5px;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-update {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.close-profile-modal {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.modal-content button {
    background: pink;
    height: 35px;
    margin: 8px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #777;

}

.profile .title {
    font-size: 30px;
    margin: 0;
}
.profile-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}
.profile input {
    height: 25px;
    width: 250px;
    margin: 8px auto;
    font-size: 16px;
}