@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Roboto');

.profile {
    background: #F2BCFF;
    height: 100%;
    width: 68vw;
    margin: auto;
    box-sizing: border-box;
}
.profile h2 {
    background: pink;
    font-size: 70px;
    text-align: center;
    margin: auto;
    width: 60vw;
    font-family: 'Dancing Script', cursive;
    /* text-shadow: 2px 2px 5px gray; */
    box-sizing: border-box;

}
.profile .body {
    background-color: white;
    height: 100%;
    width: 70vw;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    /* box-shadow: 2px 2px 5px gray; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}
img {
    /* box-shadow: 2px 2px 5px gray; */
    border-radius: 3px;
}
.body button {
    height: 40px;
    width: 100px;
    margin: auto;
}
#myModal {
    background: rgba(70, 70, 70, .5);
    height: 100%;
    width: 100%;
    z-index: 10px;
    position: absolute;
    top: 0;
    left: 0;
}
.modal-content {
    background: rgba(255, 255, 255, 1);
    height: 70%;
    width: 50%;
    top: 15%;
    left: 25%;
    position: absolute;
    z-index: 11px;
    border-radius: 5px;  
}