@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Roboto');

.about {
    background: #eee;
    min-height: 75vh;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.about .body {
    background-color: white;
    min-height: 75vh;
    height: 100%;
    width: 65vw;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 6vw;
    padding-right: 6vw;
    box-sizing: border-box;
}
.about h2 {
    font-size: 70px;
    margin-bottom: 5vh;
    margin-top: 5vh;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 36, 109);
}
.about .welcome {
    width: 100%;
    margin-bottom: 10vh;
}
.about p {
    margin: 0;
}
@media (max-width: 760px) {
    .about {
        min-height: 85vh;
        width: 100%;
    }
    .about .body {
        background-color: white;
        min-height: 85vh;
        width: 100%;
        margin: auto;
        padding-left: 10vw;
        padding-right: 10vw;
        box-sizing: border-box;
    }
    .about h2 {
        height: 10%;
        font-size: 60px;
        margin: 0;
        margin-top: 5vh;
        margin-bottom: 5vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Dancing Script', cursive;
        color: rgb(255, 36, 109);
    }
}