@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Roboto');

.about {
    background: #eee;
    height: 75vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.about .body {
    background-color: white;
    padding: 50px;
    height: 100%;
    width: 65vw;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.about p {
    margin: 0;
    text-align: center;
}