@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Roboto');

.friends {
    background: #eee;
    height: 80vh;
    width: 100%;
    margin: auto;
}
.friends .body {
    background-color: white;
    height: 100%;
    width: 60vw;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    overflow: auto;
    padding: 50px;
    box-sizing: border-box;
}


.friendsList {
    background: #777;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;

}
.each-friend {
    background: #555;
    height: 200px;
    margin: 10px;    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.each-friend img {
    width: 70px;
}
.each-friend button {
    height: 30px;
    width: 70px;
    margin: 5px;
}


#myFriendModal {
    background: rgba(70, 70, 70, .5);
    height: 100%;
    width: 100%;
    z-index: 10px;
    position: absolute;
    top: 0;
    left: 0;
}
.modal-content {
    background: rgba(255, 255, 255, 1);
    height: 70%;
    width: 50%;
    top: 15%;
    left: 25%;
    position: absolute;
    z-index: 11px;
    border-radius: 5px;  
}
#exit {
    height: 20px;
    width: 20px;
}