@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Roboto');

.sidebar {
    background-color: rgba(255, 255, 255, 0);
    /* background: blue; */
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    z-index: 5;
    color: #111;
    position: absolute;
    top: 130px;
}
.sidebar .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sidebar img {
    width: 14vw;
    
}