@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Roboto');

.sidebar {
    background-color: rgba(255, 255, 255, 0);
    background: blue;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 11;
    color: #111;
    position: fixed;
}
.sidebar img {
    width: 14vw;
    border-radius: 50%;
}