@import url('https://fonts.googleapis.com/css?family=Roboto');

.nav {
    margin: 0;
    width: 100%;
    height: 25vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 9;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.HAM {
    display: none;
}
.nav menu {
    height: 6vh;
    margin: 0;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
}
header {
    background: linear-gradient( #FF567B, #eee);
    background: rgb(255, 36, 109);
    height: 19vh;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 2;
}

/* .nav img {
    min-width: 1200px;
} */
.navBar {
    background-color: white;
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* padding-left: 150px; */
    align-items: center;
    box-sizing: border-box;
    z-index: 9;
    box-shadow: 1px 1px 3px #ccc;

}
.info {
    height: 100%;
    width: 40vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.info img {
    width: 14vw;
    border-radius: 50%;
    margin: 1.75vw;
    /* box-shadow: 1px 1px 3px #ccc; */
}

.page-links {
    width: 35vw;
    height: 6vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    margin-right: 10px;

}
.nav button { 
    background: white;
    color: black; 
    box-sizing: border-box;
    height: 6vh;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.nav button:hover {
    color: rgb(255, 36, 109);
    cursor: pointer;
}
button:focus {
    outline: 0;
}

@media (max-width: 760px) {
    .nav {
        height: 15vh;
        font-size: 18px;
    }
    header {
        height: 9vh;
    }
    .page-links {
        display: none;
    }
    .info {
        width: 80vw;
    }
    .nav menu {
        display: none;
    }
    .HAM {
        height: 6vh;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px;
        z-index: 20px;
        margin-right: 10px;
    }
    .dropdown-content {
        position: fixed;
        top: 16vh;
        right: -150px;
        transition: all .5s ease;
        width: 110px;
    }
    .show {
        right: 0px;
    }
    .menu-svg {
        width: 30px;
    }
    .info img {
        width: 20vw;
    }
}