@import url('https://fonts.googleapis.com/css?family=Roboto');

.nav {
    margin: 0;
    width: 100%;
    height: 15vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 9;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.HAM {
    display: none;
}
.nav menu {
    height: 6vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
}
header {
    /* background: linear-gradient(rgb(255, 152, 174), #FF567B); */
    background: #FF567B;
    height: 9vh;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 2;
}

/* .nav img {
    min-width: 1200px;
} */
.navBar {
    background-color: white;
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* padding-left: 150px; */
    align-items: center;
    box-sizing: border-box;
    z-index: 9;
    box-shadow: 1px 1px 3px #ccc;
}
.info {
    height: 100%;
    width: 40vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.info img {
    width: 14vw;
    border-radius: 50%;
    margin: 1.75vw;
    box-shadow: 1px 1px 3px #ccc;
}

.page-links {
    width: 30vw;
    height: 6vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    margin-right: 10px;
}
.nav button { 
    background: white;
    color: black; 
    font-size: 16px;
    box-sizing: border-box;
    height: 6vh;
    border: none;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav button:hover {
    color: rgb(255, 36, 109);
}
/* .nav button:visited {
    color: rgb(235, 153, 255);
} */
button:focus {
    outline: 0;
}

@media screen and (max-width: 320px) {
    h1 {
        font-family: 'Dancing Script', cursive;
        color: white;
        font-size: 80px;
        top: 30%;
        text-align: center;
        margin: 0;
        text-shadow: 1px 1px 5px #666;
        z-index: 2;
    }
    .auth .link-button {
        background: white;
        color: black;    
        font-size: 18px;
        height: 40px;
        width: 120px;
        /* border: none; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
        /* box-shadow: 2px 2px 3px #777; */
        border-radius: 5px;
    }
  }