@import url('https://fonts.googleapis.com/css?family=Roboto');

.nav {
    margin: 0;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 9;
    position: relative;
}

/* .image {
    background: red;
    height: 150px;
    width: 150px;
} */
a {
    text-decoration: none;
}
header {
    height: 20vh;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 2;
}

/* .nav img {
    min-width: 1200px;
} */
.navBar {
    background-color: white;
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* padding-left: 150px; */
    align-items: center;
    box-sizing: border-box;
    z-index: 9;
    box-shadow: 2px 2px 2px #ddd;
}
.info {
    height: 200px;
    width: 40vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.info img {
    width: 140px;
    border-radius: 50%;
    margin: 10px;
}

.page-links {
    width: 40vw;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    margin-right: 10px;
}
.nav button { 
    background: white;
    color: black; 
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    height: 35px;
    border: none;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav button:hover {
    background: #eee;
}
/* .nav button:visited {
    color: rgb(235, 153, 255);
} */
button:focus {
    outline: 0;
}